{% load static %}
{% extends 'base.html' %}
{% block title %}Vũ Khí{% endblock %}



{% block content %}
<div>
<h2 style="text-align: center; color: blue;">BIÊN CHẾ VŨ KHÍ</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>STT</th>
        <th>Mã Học Viên</th>
        <th>Số súng</th>
        <th>Đơn vị</th>
      
      </tr>
    </thead>
    <tbody>
        {% for x in Bienches %}
        <tr>
            <th>{{x.id}}</th>
            <th>{{x.mahv_id}}</th>
            <th>{{x.mavk_id}}</th>
            <th>{{x.madv}}</th>
          </tr>
        {% endfor%}
    </tbody>
  </table>
</div>
</div>

{% endblock %}